:root {
	--color-background: #B6D3D3;
	--color-foreground: #000000;

	--color-button-choose-task: var(var(--color-foreground));
	--color-button-task: #34568B;
	--color-button-task-hover: #1f3354;
	--color-button-font: #FFFFFF;

	--font-size-list-item: 85%;
	--font-size-button: 100%;
	--font-size-earnings: 120%;
	--font-size-foreground: 150%;
	--font-size-header: 200%;

	--font-family-main: 'Comfortaa', cursive;
	--font-family-header: 'Hachi Maru Pop', cursive;

	--gap-column: 1rem;
	--gap-padding: 1rem;
	--gap-row: 1rem;
	--gap-section: 2rem;

	--gap-box-padding: 1rem;
	--gap-bottom-padding: 0.2rem;
	--gap-button-padding: 0.5rem;
}