.dynamic-page-kids {
	margin-bottom: var(--gap-row);
	justify-content: space-between;
	background-color: var(--color-button-task);
	
}

.dynamic-page-kids__user-information {
	background-color: grey;
	/* display: flex;
	flex-direction: row;
	justify-content: center; */
}

.dynamic-page-kids__user-name {
	background-color: blue;
}

.dynamic-page-kids__user-image {
	aspect-ratio: 3/4;
}

.dynamic-page-kids__user-img {
	object-fit: cover;
	height: 100%;
}

.dynamic-page-kids__week-list {
	background-color: bisque;
	display: none;
}
.dynamic-page-kids__week-list--visible {
	background-color: bisque;
	display: block;
}

.dynamic-page-kids__week-number {
	font-weight: 600;
	text-align: left;
}

.dynamic-page-kids__earnings {
	font-size: 0.95rem;
	padding-top: 0;
}

.dynamic-page-kids__performed-tasks-list {
	padding-top: 0;
}

/* .dynamic-page-kids__performed-tasks-list--visible {
	display: block;
} */

.dynamic-page-kids__performed-tasks-list-item {
	font-size: 0.9rem;
	text-align: left;
}

.dynamic-page-kids__task-date {
	text-align: right;
}
.dynamic-page-kids__task-value {
	font-weight: 600;
}