/* mobile first */
.dynamic-page-kids__open-task-buttons-list {
	background-color: var(--color-foreground);
	color: var(--color-button-font);
	width: 100%;
}

.dynamic-page-kids__task-button {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--color-button-task);
	border-radius: 10px;
	color: var(--color-button-font);
	letter-spacing: 5%;
}

.dynamic-page-kids__task-buttons-list {
	display: none;
}

.dynamic-page-kids__task-buttons-list--visible {
	width: 60%;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	justify-self: center;
	row-gap: var(--gap-row);
}

/* desktop */
@media screen and (min-width: 1042px) {
	.dynamic-page-kids__task-button {
		width: 100%;
	}

	.dynamic-page-kids__open-task-buttons-list:hover {
		border: 2px solid black;
	}

	.dynamic-page-kids__task-button:hover {
		background-color: var(--color-button-task-hover);
	}
}