/* .static-page-kids__tasks {

} */

.static-page-kids__tasks-task {
	display: none;
}

.static-page-kids__tasks-task--visible {
	display: block;
}

.static-page-kids__tasks-task-button {
	background-color: aquamarine;
	border-radius: 20px;
}

.static-page-kids__task-buttons-container {
	display: none;
}

.static-page-kids__task-buttons-container--visible {
	display: block;
}